.card-container
  font-family: $family-serif
  width: 16.25em
  height: 16.25em
  position: relative
  @include until-widescreen
    width: 14.25em
    height: 14.25em
  @include touch
    width: 10.25em
  .card
    height: inherit
    width: inherit
    position: absolute
    border: 1px solid
    border-radius: 6px
    background-color: white
    z-index: 10
    padding: 1em
  &:after
    content: ""
    height: inherit
    width: inherit
    position: absolute
    top: 7px
    left: 7px
    border: 1px solid
    border-radius: 7px

.value-card-container
  font-family: $family-serif
  width: 42em
  height: 15em
  position: relative
  @include touch
    width: 22em
    height: 24em
  img
    width: 96px
    height: 96px
  .value-card
    padding: 2em
    display: flex
    height: inherit
    width: inherit
    gap: 2em
    position: absolute
    border: 1px solid
    border-radius: 6px
    background-color: $beige
    z-index: 10
    align-items: center
    @include touch
      flex-direction: column
  &:after
    content: ""
    height: inherit
    width: inherit
    position: absolute
    top: 7px
    left: 7px
    border: 1px solid
    border-radius: 7px

.large-card
  padding: 2rem 5rem
  align-items: center
  position: relative
  justify-content: center
  margin-top: 8em
  display: flex
  @include touch
    padding: 2rem 2rem

  .large-card-title
    position: absolute
    background-color: $beige
    width: 50%
    text-align: center
    top: -4em
    @include touch
      width: 100%
      top: -7em
    @include mobile-xs
      top: -11em

  @include tablet
    width: 100%

  @include tablet
    padding: 5rem 10rem
