.home-illustration-left
  position: absolute
  left: 0
  top: 15%
  @include mobile
    display: none

.home-illustration-right
  right: 0
  bottom: 0
  position: absolute

.home-illustration-top-right
  display: none
  position: absolute
  top: 40%
  right: -20%
  @include until(tablet)
      display: flex
  @include desktop
    top: 12%
    right: -15%
  @include fullhd
    right: -12%
