.container.filters
  flex-direction: column
  @include tablet
    flex-direction: row
  .filter-title
    padding-top: 1rem
    @include tablet
      padding-right: 3rem
      border-right: 1px solid $grey-200

  .filter-tags
    display: flex
    flex-direction: column
    padding-top: 1rem
    padding-bottom: 1rem
    @include tablet
      padding-left: 1rem

.project-card
  h3
    text-decoration: none
  .bordered
    border: 1px solid $grey-200
    border-radius: 0.375rem
  .background.bordered
    position: absolute
    top: 0.4rem
    right: -0.4rem
    bottom: -0.4rem
    left: 0.4rem
  .project-content
    position: relative
    background: $background
    display: flex
    gap: 0.5rem
    flex-direction: column
    text-align: center
    padding: 2em
    &:hover
      transform: scale(1.05)
      transition: 300ms ease
    height: 17rem

.projects-container
  display: grid
  align-items: start
  grid-template-columns: repeat(1, 1fr)
  row-gap: 5rem
  column-gap: 1rem
  @include mobile-lg
    grid-template-columns: repeat(2, 1fr)
  @include tablet
    row-gap: 3rem
    column-gap: 3rem
  @include desktop
    row-gap: 3rem
    column-gap: 5rem
    grid-template-columns: repeat(3, 1fr)
  @include fullhd
    row-gap: 4rem
    column-gap: 7rem
