.project
  display: flex
  flex-direction: column
  gap: 2rem
  padding: 8em 2em
  .project-description
    line-height: 2em
  @include mobile-xs
    padding: 0
  .image-holder
    border-radius: 6px
    // if the image height is too large, clip it and center it
    max-height: 300px
    line-height: 0
    display: flex
    align-items: center
    max-width: 600px
  .nutshell
    border: 1px solid $grey-200
    border-radius: 6px
    padding: 1em
    .nutshell-title
      text-align: center
      bottom: 1.7rem
      h2
        display: inline
        background: $background
        padding: 0 1rem
    .left-column
      @include tablet
        border-right: 1px solid $grey-200
    .nutshell-buttons
      margin-top: auto
      display: flex
      gap: 1.5rem
      flex-direction: column
      @include tablet
        flex-direction: row

    .nutshell-cta
      bottom: 0
      position: absolute
      right: 45%

