.wrapper-skills, .wrapper-clients
  display: grid
  gap: 5em
  justify-items: center

.wrapper-skills
  grid-template-columns: repeat(3, 1fr)


.wrapper-clients
  grid-template-columns: repeat(4, 1fr)
  border-top: 1px solid $grey

.card-container
  font-family: $family-serif
  width: 12em
  height: 12em
  position: relative
  .card
    height: inherit
    width: inherit
    position: absolute
    border: 1px solid
    border-radius: 6px
    background-color: white
    z-index: 10
  &:after
    content: ""
    height: inherit
    width: inherit
    position: absolute
    top: 7px
    left: 7px
    border: 1px solid
    border-radius: 7px
