// BULMA CONFIG

@import "../node_modules/bulma/sass/utilities/derived-variables.sass"
// Set your brand colors
$primary: $red
$text: $black
$beige: #FFF8EA
$yellow: #FFCD4E
$green: #60E093
$orange: #FF5631
$blue: #005281
// $colors: ("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert, $primary-light, $primary-dark))

// Update Bulma's global variables
$family-sans-serif: "Segoe UI", sans-serif
$family-serif: "Courier New", serif
$body-family: $family-sans-serif
$body-size: 22px
$body-weight: 500

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass"
@import "../node_modules/bulma/sass/base/_all.sass"
@import "../node_modules/bulma/sass/elements/button.sass"
@import "../node_modules/bulma/sass/elements/title.sass"
@import "../node_modules/bulma/sass/form/shared.sass"
@import "../node_modules/bulma/sass/form/tools.sass"
@import "../node_modules/bulma/sass/form/input-textarea.sass"
@import "../node_modules/bulma/sass/helpers/typography.sass"
@import "../node_modules/bulma/sass/helpers/spacing.sass"
@import "../node_modules/bulma/sass/helpers/color.sass"
@import "../node_modules/bulma/sass/helpers/visibility.sass"
@import "../node_modules/bulma/sass/components/modal.sass"

body
  background-color: $beige
  font-size: 1em

h1
  font-family: $family-serif
  font-size: 3.125em
  font-weight: 700

h2
  font-family: $family-sans-serif
  font-size: 2em
  font-weight: 700
