.wrapper-skills, .wrapper-clients, .wrapper-extra
  display: grid
  gap: 2em
.wrapper-skills, .wrapper-extra
  @include mobile-xs
    grid-template-columns: repeat(1, 1fr)
  @include tablet
    grid-template-columns: repeat(3, 1fr)
  @include desktop
    grid-template-columns: repeat(3, 1fr)

.default-wrapper
  display: flex
  padding: 4em 2em
  @extend .gap-2

.wrapper-extra
  gap: 1em
  width: 100%
  @include mobile-xs
    grid-template-columns: repeat(1, 1fr)
  @include desktop
    width: 50%
    grid-template-columns: repeat(2, 1fr)

.extra-container
    display: flex
    flex-direction: column
    gap: 1em
    width: 100%
    @include desktop
      flex-direction: row
      gap: 2em

.wrapper-extra-text
  display: flex
  flex-direction: column
  gap: 1em
  width: 100%
  @include desktop
    width: 50%


.wrapper-clients
  grid-template-columns: repeat(1, 1fr)
  @include tablet
    grid-template-columns: repeat(3, 1fr)

.wrapper-values
    display: flex
    flex-direction: column
    gap: 3em



