.wrapper-skills, .wrapper-clients, .wrapper-extra
  display: grid
  gap: 2em
.wrapper-skills, .wrapper-extra
  @include mobile-xs
    grid-template-columns: repeat(1, 1fr)
  @include tablet
    grid-template-columns: repeat(3, 1fr)
  @include desktop
    grid-template-columns: repeat(3, 1fr)

.wrapper-container-extra
  display: flex
  @extend .layout
  @extend .gap-2

.wrapper-extra
  gap: 1em
  width: 50%
  @include mobile-xs
    grid-template-columns: repeat(1, 1fr)
  @include desktop
  grid-template-columns: repeat(2, 1fr)

.wrapper-extra-text
  display: flex
  flex-direction: column
  gap: 1em
  width: 50%
.wrapper-clients
  grid-template-columns: repeat(1, 1fr)
  @include tablet
    grid-template-columns: repeat(3, 1fr)

.wrapper-values
    display: flex
    flex-direction: column
    gap: 3em



