.wrapper-skills, .wrapper-clients
  display: grid
  gap: 3em
  justify-items: center

.wrapper-skills
  grid-template-columns: repeat(2, 1fr)
  @include tablet
    grid-template-columns: repeat(3, 1fr)
  @include touch
    gap: 2em

.wrapper-clients
  grid-template-columns: repeat(1, 1fr)
  @include tablet
    grid-template-columns: repeat(3, 1fr)
  border-top: 1px solid $grey
  grid-auto-rows: 1fr

.wrapper-values
  display: flex
  flex-direction: column
  gap: 1.5em


.wrapper-extra
  display: grid
  grid-template-columns: repeat(2, 1fr)
  @include tablet
    grid-template-columns: repeat(3, 1fr)
  gap: 2em
  justify-items: center
