<a
  href="/blog/{{ article.title | slugify }}/"
  class="project-card is-relative"
>
  <div class="bordered background top"></div>
  <div class="bordered has-text-centered p-4 project-content">
    <h3 class="is-family-code mb-3">{{ article.title }}</h3>
    <div class="blog-card-meta mb-3">
      <p class="is-size-7">
        {{ article.date | date: "%d/%m/%Y" }} · {{ article.readTime }} min
      </p>
    </div>
    {% if article.categories %}
    <div class="category-holder-wrapper is-justify-content-center mb-3">
      {% for category in article.categories %}
        {% render "category.html" category:categories[category] notabindex: true %}
      {% endfor %}
    </div>
    {% endif %}
    <p class="mt-auto">{{ article.excerpt }}</p>
  </div>
</a>
