<nav class="navbar is-transparent is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <span class="logo">Teles<span class="bold">Coop</span></span>
        </a>
    </div>
    <div id="main-navigation" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/"> Accueil </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> À propos de nous </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" onclick="scrollToTargetAdjusted('nos-valeurs')">
                        Nos valeurs
                    </a>
                    <a class="navbar-item" onclick="scrollToTargetAdjusted('nos-applications')">
                        Nos applications
                    </a>
                    <a class="navbar-item" onclick="scrollToTargetAdjusted('notre-equipe')">
                        Notre équipe de ouf
                    </a>
                    <a class="navbar-item" onclick="scrollToTargetAdjusted('nos-clients')">
                        Nos clients
                    </a>
                </div>
            </div>

            <div class="navbar-item">
                <div class="buttons">
                    <a class="button bg-purple" href="mailto:contact@telescoop.fr">Nous contacter</a>
                </div>
            </div>
        </div>
    </div>
</nav>
