<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="logo"><span class="teles">Teles</span><span class="coop">Coop</span></span>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navigation">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="main-navigation" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item is-family-primary" href="/"> Accueil </a>
      <a class="navbar-item is-family-primary" href="/about/"> La coopérative </a>
      <a class="navbar-item is-family-primary" href="/projects/"> Réalisations </a>

      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="mailto:contact@telescoop.fr">Nous contacter</a>
        </div>
      </div>
    </div>
  </div>
</nav>