{{ ansible_managed | comment }}

server {

    server_name {{ public_hostname }} {{ other_public_hostname }};

    # include gp-ssl-base.inc;
    # include snippets/snakeoil.conf;
    # ssl_certificate    /etc/letsencrypt/live/greengamingtour.greenpeace.fr/fullchain.pem;
    # ssl_certificate_key    /etc/letsencrypt/live/greengamingtour.greenpeace.fr/privkey.pem;

    access_log /var/log/nginx/access_{{ public_hostname.replace('.', '_') }}.log;
    error_log /var/log/nginx/error_{{ public_hostname.replace('.', '_') }}.log;

    # http://stackoverflow.com/questions/15238506/djangos-suspiciousoperation-invalid-http-host-header
    # Deny illegal Host headers
    if ($host !~* ^({{ public_hostname }}|{{other_public_hostname}})$ ) {
        return 444;
    }

    # backend static stuff
    # location /static  {
    #     autoindex off;
    #     alias {{ frontend_static_path }};
    # }

    location / {
        autoindex off;
        alias {{ frontend_static_path }};
    }
}
