<div class="nutshell">
    <div class="nutshell-title">
        <h2>En résumé</h2>
        <div>
            <img class="after-title" src="/img/after-title.svg" alt="">
        </div>
    </div>
    <div>
        <div class="columns is-8 is-variable my-5">
            <div class="column left-column">
                bla blia bla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla bliabla blia
            </div>
            <div class="column">
                {% if project.project_stack %}
                    <div>Technologies utilisées : {% render "tags.html" tags: project.project_stack %}</div>
                {% endif %}
                {% if project.project_status %}
                    <div>
                        Status : <span class="is-bold">{{project.project_status}}</span>
                    </div>
                {% endif %}
                {% if project.project_duration %}
                <div>
                    Temps de développement : <span class="is-bold">{{project.project_duration}} jours</span>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% render "main-button.html" linkText:"Voir le site", link:"mailto:contact@telescoop.fr" %}
</div>
