<div class="nutshell">
    <div class="nutshell-title">
        <h2>En résumé</h2>
        <div>
            <img class="after-title" src="/img/svg/after-title.svg" alt="">
        </div>
    </div>
    <div>
        <div class="columns is-8 is-variable my-5">
            <div class="column left-column">
                <h3>{{project.projectResume}}</h3>
                {% if project.projectEnd and project.clientName  %}
                    <p>Un projet créé en {{project.projectEnd}} pour {{project.clientName}}</p>
                {% endif %}

                <div class="is-divider"></div>
                <div class="is-flex is-flex-direction-column gap-2">
                    <h3>{{project.clientName}}</h3>
                    <p>
                        {{project.clientDescription}}
                    </p>

                </div>

            </div>
            <div class="column">
                {% if project.projectStack %}
                    <div>Technologies utilisées : {% render "tags.html" tags: project.projectStack %}</div>
                {% endif %}
                {% if project.projectStatus %}
                    <div>
                        Status : <span class="is-bold">{{project.projectStatus}}</span>
                    </div>
                {% endif %}
                {% if project.projectDuration %}
                <div>
                    Temps de développement : <span class="is-bold">{{project.projectDuration}} jours</span>
                </div>
                {% endif %}
                <div class="is-flex is-justify-content-center gap-2">
                    {% render "main-button.html" linkText:"Voir le site", link: project.projectLink %}
                    {% render "main-button.html" linkText:"Code source", link: project.projectLink, btnClass: "reverse" %}
                </div>
            </div>
        </div>
    </div>
</div>
