---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<a href="/" class={`logo ${className}`}>
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <!-- Created with Inkscape (http://www.inkscape.org/) -->
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <!-- Created with Inkscape (http://www.inkscape.org/) -->

  <svg
      width="180"
      height="60.000519"
      viewBox="0 0 487.8978 84.000519"
      version="1.1"
      id="svg1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg">
    <defs
        id="defs1" />
    <g
        id="layer1"
        transform="translate(-25.413975,-190.89398)">
      <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:97.7191px;line-height:10;font-family:Wil;-inkscape-font-specification:Wil;text-align:start;letter-spacing:0.893775px;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:currentColor;stroke-width:1.35122;paint-order:markers fill stroke"
          x="22.067179"
          y="265.23624"
          id="text2"
          transform="scale(1.0292613,0.9715706)"><tspan
         id="tspan1"
         x="22.067179"
         y="265.23624"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Williesh;-inkscape-font-specification:Williesh;stroke-width:1.35122"
         dx="0 0 0 0 0 0 0 0 0 0 1.5916973">TelesCoop  </tspan></text>


</a>

<style>
  .logo {
    font-size: 36px;
    margin: 0;
    display: inline-block;
    transition: opacity 0.2s;
    transform: rotate(-1.5deg);
  }

  .logo:hover {
    opacity: 0.8;
  }
</style>
