---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<a href="/" class={`logo ${className}`}>
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <!-- Created with Inkscape (http://www.inkscape.org/) -->
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <!-- Created with Inkscape (http://www.inkscape.org/) -->

  <span class="font-normal">Teles</span>Coop
</a>

<style>
  .logo {
    font-size: 36px;
    margin: 0;
    display: inline-block;
    transition: opacity 0.2s;
    transform: rotate(-1.5deg);
    font-weight: 700;
  }

  .logo:hover {
    opacity: 0.8;
  }
</style>
