<section class="layout gap-1 is-flex is-flex-direction-column is-size-4">
  <div class="is-flex">
    {% render "tag.html" text: "À propos de nous" %}
  </div>
  <p>
    Fondée en 2020, TelesCoop est une <strong>société coopérative</strong> spécialisée dans l’accompagnement et le développement de sites web, d’outils métier et d’applications basés principalement sur des technologies open-source.
  </p>
  <p>
    Nous sommes expert·e·s du développement web full stack et des projets data et IA.
  </p>
  <p>
    Nous sommes uni·e·s et engagé·e·s autour de valeurs communes <strong>– écologie, justice sociale, sobriété –</strong> et d'une volonté de mettre en commun nos expériences individuelles au service d'un <strong>projet collectif.</strong>
  </p>
</section>
