<section class=" layout-component gap-4 is-flex is-flex-direction-column has-text-centered">
    {% render 'title.html' title:"Ce que disent nos clients de nous" %}
    <ul class="wrapper-clients">
        {% for client in clients %}
        <li style="border-top: 5px solid {{ client.borderColor }};" class="is-flex is-flex-direction-column gap-1 has-text-left">
            {% render "clientCard.html" client: client %}
        </li>
        {% endfor %}
    </ul>
    <div class="is-flex is-flex-direction-column is-align-items-center gap-2 mt-6">
    <span class="is-3">
        Votre projet vous parait cohérent avec nos valeurs ?
        <span class="has-text-weight-bold">
            N’hésitez pas à nous écrire !
        </span>
    </span>
        {% render "main-button.html" linkText:"Contactez-nous", link:"mailto:contact@telescoop.fr" %}
    </div>

</section>
