<section class="has-background-white layout-component gap-4 is-flex is-flex-direction-column has-text-centered">
    {% render 'title.html' title:"Nos petits plus" %}
    <div class="wrapper-extra">
        {% for el in extra %}
            {% render "card.html" element: el %}
        {% endfor %}
    </div>
    <div class="is-flex is-flex-direction-column is-align-items-center gap-2">
    <!--<span class="is-size-4">
        Nous travaillons en complémentarité avec d’autres coopératives du numérique :
    </span>-->
        {% render "main-button.html" linkText:"Contactez-nous", link:"mailto:contact@telescoop.fr" %}
    </div>

</section>
