<div
  class="layout h-screen gap-4 is-flex has-text-centered is-flex-direction-column is-justify-content-center is-relative"
>
  <a class="" href="/">
    <img src="/icons/logo.svg" alt="TelesCoop - Accueil" />
  </a>
  <h1 class="intro-heading">
    Coopérative de développement pour des
    <span
      class="has-background-black has-text-beige top-5"
      style="padding: 5px 8px"
      >projets engagés</span
    >
    <img
      src="../../img/svg/illustration-top-right.svg"
      class="home-illustration-top-right"
      alt=""
    />
  </h1>
  <span class="is-size-4"> {{ home.tagline }} </span>
  <div class="is-flex is-justify-content-center z-index-1">
    {% render "main-button.html" linkText:"Contactez-nous"
    link:"mailto:contact@telescoop.fr" %}
  </div>
  <img
    src="../../img/svg/illustration-left.svg"
    class="home-illustration-left"
    alt=""
  />
  <img
    src="../../img/svg/illustration-right.svg"
    class="home-illustration-right"
    alt=""
  />
</div>
