<div class="section-layout h-screen gap-4 is-flex has-text-centered is-flex-direction-column is-justify-content-center is-relative">
    <h1>
        Coopérative de développement pour des <span class="has-background-black has-text-beige">projets engagés</span>
    </h1>
    <span>
        Nous créons des sites web et des outils numériques positifs, dans une logique de communs numériques.
    </span>
    <div class="is-flex is-justify-content-center">
        {% render "main-button.html" linkText:"Nous contacter" %}
    </div>
    <img src="./img/home/illustration-left.svg" class="home-illustration-left" alt="">
    <img src="./img/home/illustration-top-right.svg" class="home-illustration-top-right" alt="">
    <img src="./img/home/illustration-right.svg" class="home-illustration-right" alt="">
</div>
