<div class="layout-component h-screen gap-4 is-flex has-text-centered is-flex-direction-column is-justify-content-center is-relative">
    <h1>
        Coopérative de développement web<br> pour des
        <span class="has-background-black has-text-beige" style="padding: 5px 8px">
            projets engagés</span>
    </h1>
    <span class="is-size-4">
        {{ home.tagline }}
    </span>
    <div class="is-flex is-justify-content-center">
        {% render "main-button.html" linkText:"Nous contacter" %}
    </div>
    <img src="../../img/svg/illustration-left.svg" class="home-illustration-left" alt="">
    <img src="../../img/svg/illustration-top-right.svg" class="home-illustration-top-right" alt="">
    <img src="../../img/svg/illustration-right.svg" class="home-illustration-right" alt="">
</div>
