<section class="layout gap-2 is-flex is-flex-direction-column">
    {% render "tag.html" text: "Notre offre" %}

    <div class="wrapper-skills">
        {% for skill in skills %}
      <div class="is-flex is-flex-direction-column p-4">
        <img src={{skill.src}} alt="" style="width: 250px;">
        <span class="is-size-2 has-text-weight-bold has-text-orange">
          {{forloop.index}}
        </span>
        <h3 class="is-size-6 is-uppercase has-text-weight-bold">
        {{skill.name}}
        </h3>
        <p>
          {{skill.description}}
        </p>
      </div>
      {% endfor %}
    </div>
</section>
