<section class="layout gap-2 is-flex is-flex-direction-column">
    {% render "tag.html" text: "Notre offre" %}

    <div class="wrapper-skills">
        {% for skill in skills %}
      <div class="is-flex is-flex-direction-column">
        <img src={{skill.src}} alt="" style="width: 250px;">
        <span class="is-size-2 has-text-weight-bold has-text-orange">
          {{forloop.index}}
        </span>
        <h3 class="is-size-6 is-uppercase has-text-weight-bold">
        {{skill.name}}
        </h3>
        <p>
          {{skill.description}}
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="is-flex is-flex-direction-column is-align-items-center gap-2">
    <span class="is-size-3 has-text-weight-bold">
        Nous nous adaptons à tous les types de projets et à vos contraintes.
    </span>
        {% render "main-button.html" linkText:"Contactez-nous", link:"mailto:contact@telescoop.fr" %}
    </div>
</section>
