<section class="section-layout has-background-white gap-4 is-flex is-flex-direction-column has-text-centered">
    {% render 'title.html' title:"Nos compétences" %}
    <ul class="wrapper-skills">
        {% for skill in skills %}
        <li>
            {% render "card.html" element: skill %}
        </li>
        {% endfor %}
    </ul>
    <div class="is-flex is-flex-direction-column is-align-items-center gap-2">
    <span>
        Nous nous adaptons à tous les types de projets et à vos contraintes (...)
    </span>
        {% render "main-button.html" linkText:"Contacter nous", link:"mailto:contact@telescoop.fr" %}
    </div>

</section>
